.ban-main {
  object-fit: cover;
}
 
.header-u {
  color: #000;
  text-align: center;
  font-family: "Beau Rivage";
  font-size: 71.147px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.846px;
}
 
.vip-banner {
  justify-content: center;
  align-items: center;
  /* margin-bottom: -50px; */
}
 
 